<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <!-- icon -->
  <link href="{{url_for('static', filename='images/favicon.ico')}}" rel="shortcut icon" type="image/x-icon"/>
  <title>PSynDB</title>

  <!-- Bootstrap.js, Bootstrap.css, jquery.js, Popper.js -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Syntax highlighting -->
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- Font Awesome icon -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- DataTable -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

  <!-- bootstrap-select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

  <!-- taginputs -->
  <link href="{{url_for('static', filename='css/tagsinput.css')}}" rel="stylesheet" type="text/css"/>
  <script src="{{url_for('static', filename='js/tagsinput.js')}}"></script>

  <!-- Additional style -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css"/>

  <!-- C3.js -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="{{url_for('static', filename='js/c3.min.js')}}"></script>
  <link href="{{url_for('static', filename='css/c3.css')}}" rel="stylesheet" type="text/css"/>

  <!-- websocket -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

  <!-- HighCharts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  
  <!-- Math eq -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top py-0" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">PSynDB</a>
        <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mr-auto">
            <li {% if request.path == "/data_generation" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
              <a class="nav-link" href="/data_generation">Data Generation</a>
            </li>
            <li {% if request.path == "/background" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
              <a class="nav-link" href="/background">Background</a>
            </li>
            <li {% if request.path == "/local_mode" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
              <a class="nav-link" href="/local_mode">Local Mode</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li {% if request.path == "/about" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Main component -->
    <div class="container">
    {% block content %} {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="py-3 bg-dark fixed-bottom">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2019</p>
      </div>
    </footer>

</body>

</html>
